<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
</head>
<style>
    html, body { width: 800px;}
    html {
        display: table;
        margin: 0 auto;
    }
    body { display: table-cell }
    .main-table,td { padding: 10px }
</style>
<body>
    <h1>Dog Vision</h1>
    <p>
        This is a Flask app that predicts the breed of the dog in the image.<br>
        The result will not be accurate if you upload an image that is not dog's image.
    </p>

    <p>
        <form method="post" enctype="multipart/form-data">
            1. Upload an jpeg/png image of a dog: <input type="file" name="file"><br>
            2. <input type="submit" value="Predict!">
        </form>
    </p>
    {% if image_binary %}
        <table border="1" style="border-collapse: collapse" class="main-table">
            <tr>
                <td>
                    uploaded image:<br>
                    <img src="{{image_binary}}" style="max-width: 280px; max-height: 280ox"><br>
                    - Highest possibile breed: <span style="font-weight: bold;">{{ top_1_pred_label }}</span><br>
                    - Probabilities: <span style="font-weight: bold;">{{ top_1_pred_prob }}%</span><br>
                    <P>
                        See what {{ top_1_pred_label }} looks like in Google image search:
                        <a href="https://www.google.com/search?q={{ top_1_pred_label }}+dog&tbm=isch" target="_blank">
                            https://www.google.com/search?q={{ top_1_pred_label }}+dog&tbm=isch
                        </a>
                    </P>
                </td>
                <td>
                    Top 10 predictions: <br>
                    <table style="white-space:nowrap;">
                        {% for key, value in top_10_pred_dict.items() %}
                            <tr>
                                <td>
                                    <a href="https://www.google.com/search?q={{ key }}+dog&tbm=isch" target="_blank">
                                        {{ key }}
                                    </a>
                                </td>
                                <td>
                                    {{ (value*100) | round(2) }} %
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        <p>
            <h3>Horizontal Bar Graph by Metplotlib</h3>
            <img src="{{plot_image_tag_src}}">
        </p>
    {% endif %}
</body>
</html>