<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
</head>
<style>
    html, body { width: 800px;}
    html {
        display: table;
        margin: 0 auto;
    }
    body { display: table-cell }

    td { padding: 10px }
</style>
<body>
    <h1>Dog Vision</h1>
    <p>
        This is a Flask app that predicts the breed of the dog in an image of a dog.<br>
        The result will not be accurate if you upload an image that is not dog's image.
    </p>

    <p>
        <form method="post" enctype="multipart/form-data">
            1. Upload an jpeg/png image: <input type="file" name="file"><br>
            2. <input type="submit" value="Predict!">
        </form>
    </p>
    {% if image_binary %}
    <table border="1" style="border-collapse: collapse">
        <tr>
            <td>
                uploaded image:<br>
                <img src="{{image_binary}}" style="max-width: 280px; max-height: 280ox"><br>
                - Highest posibile breed: {{ predicted_label }}<br>
                - Probabilities: {{ max_probs }}%<br>
                <P>
                    See what {{ predicted_label }} looks like in Google image search: <br>
                    <a href="https://www.google.com/search?q={{ predicted_label }}&tbm=isch" target="_blank">
                        https://www.google.com/search?q={{ predicted_label }}&tbm=isch
                    </a>
                </P>
            </td>
            <td style="width: 300px">
                (WIP)top ten probs
                
            </td>
        </tr>
    </table>
    <p>
        <h3>Horizontal Bar Graph by Metplotlib</h3>
        <img src="{{plot_image_tag_src}}">
    </p>
    {% endif %}
</body>
</html>