<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Docker</title>
</head>
<body>
    <h1>Dog Vision</h1>
    <p>
        This is a Flask app that predicts the breed of the dog in an image of a dog.<br>
        The result will not be accurate if you upload an image that is not dog's image.
    </p>

    <form method="post" enctype="multipart/form-data">
        <p><input type="file" name="file">
        <input type="submit" value="Predict!">
    </form>

    {% if image_binary %}
        <img src="{{image_binary}}"><br>
        Predicted breed name: {{ predicted_label }}<br>
        Probabilities: {{ max_probs }}<br>
        See what {{ predicted_label }} looks like in Google image search: 
        <a href="https://www.google.com/search?q={{ predicted_label }}&tbm=isch" target="_blank">
            https://www.google.com/search?q={{ predicted_label }}&tbm=isch
        </a>
    {% endif %}
</body>
</html>